html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid red; */
}
body {
  color: $primary-text-color;
  background-color: $primary-background-color;

  font-family: $roboto;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  margin: o;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.flexbox {
  display: flex;
}
.section {
  padding: 94px 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* button */
.button {
  color: $second-accent-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;

  display: inline-block;
  padding: 9px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
}
