//Colour
$primary-text-color: #757575;
$second-text-color: #212121;
$accent-color: #2196f3;
$second-accent-color: #ffffff;
$primary-background-color: #ffffff;
$second-background-color: #f5f4fa;
$footer-background-colour: #2f303a;
$footer-accent-text-colour: rgba(255, 255, 255, 0.6);
$border-subscribe-field-colour: rgba(255, 255, 255, 0.3);
$footer-social-background-colour: rgba(255, 255, 255, 0.1);
$social-icon-colour: #afb1b8;
$work-overlay-colour: rgba(47, 48, 58, 0.8);
$backdrop-background-colour: rgba(0, 0, 0, 0.2);
$modal-textarea-colour: rgba(117, 117, 117, 0.5);
$portfolio-overlay-colour: rgba(33, 150, 243, 0.9);

//Fonts
$roboto: "Roboto", sans-serif;
$raleway: "Raleway", sans-serif;
